<div class="min-h-screen min-w-full flex flex-col justify-center items-center bg-gradient-to-br from-orange-50 to-pink-100">
  <main class="min-w-full flex flex-col md:flex-row shadow-xl md:rounded-3xl overflow-hidden bg-white bg-opacity-80">
    {@inner_content}
  </main>
</div>
